<?xml version="1.0"?>
<launch>

  <param name="use_sim_time" value="true" />

  <remap from="/anj_featurenav/camera/image_raw" to="/husky/camera1/image_raw" />
  <remap from="/anj_featurenav/odom" to="/odom" />
  <remap from="/anj_featurenav/cmd_vel" to="/husky/cmd_vel" />

  <include file="$(find mybot_gazebo)/launch/mybot_world.launch" />

  <node name="map_node" pkg="lama_interfaces" type="map_node" output="screen" />

  <node name="anj_featurenav" pkg="anj_featurenav" type="anj_featurenav" output="screen">
    <param name="feature_detector/threshold" value="50" />
    <param name="descriptor_matcher/type" value="FlannBased" />
    <param name="forward_velocity" value="0.2" />
    <param name="kp" value="0.01" />
    <param name="min_angular_velocity" value="0" />
    <param name="max_angular_velocity" value="5" />
  </node>

  <node name="test_anj_featurenav" pkg="lama_test" type="test_anj_featurenav_follow.py" args="1" output="screen" >
  </node>

</launch>

